<div class="row">
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link  " aria-current="page" routerLink="/test"  routerLinkActive="active"  active>Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a  routerLinkActive="active" >{{isAdminLogged}}</a>
          </li>
          <li class="nav-item">
            <a  routerLinkActive="active" >{{isUserLogged}}</a>
          </li> -->
            <li class="nav-item">
              <a class="nav-link" [hidden]="!isAdminLogged" routerLink="/Admin/home" routerLinkActive="active" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [hidden]="!isAdminLogged"  routerLink="/Admin/profile" routerLinkActive="active" >Profile</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" [hidden]="!isUserLogged||isAdminLogged"  routerLink="/Student/home" routerLinkActive="active" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [hidden]="!isUserLogged||isAdminLogged"  routerLink="/Student/profile" routerLinkActive="active" >Profile</a>
              </li>
            
              <li class="nav-item">

            <a class="nav-link" [hidden]="isUserLogged"  routerLink="/Login" routerLinkActive="active"  >Login</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" [hidden]="!isUserLogged" (click)="logout()"  routerLink="/Logout" routerLinkActive="active" >logout</a>
          </li>  <li class="nav-item">
          <!-- <li class="nav-item">
            <a class="nav-link"  routerLink="/Register" routerLinkActive="active">Register</a>
          </li>  <li class="nav-item">
          </li> -->
  
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
